# ---------------------------------------------------------------------------
raw/*
!raw/README.md
*.duckdb
*.duckdb.wal
transform/target/
transform/dbt_packages/
transform/logs/

# ---------------------------------------------------------------------------
.venv/
__pycache__/
*.py[cod]

# ---------------------------------------------------------------------------
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# ---------------------------------------------------------------------------
.env

# ---------------------------------------------------------------------------
Thumbs.db
desktop.ini
CLAUDE.md
.vscode/*
!.vscode/extensions.json
